# Server Configuration
PORT=""

# Google Auth
GOOGLE_CLIENT_EMAIL=""
GOOGLE_PRIVATE_KEY=""

# Spreadsheet Configuration
INTERNAL_SEARCH_SPREADSHEET_ID=""
INTERNAL_SEARCH_LISTINGS_SHEET_ID=""
IMAGES_ROOT_SPREADSHEET_ID=""

# Firebase Configuration
FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
